#header {
	z-index: 999;
	position: fixed;
}

#header .logo h1 {
	z-index: 99;
	position: fixed;
	top: 40px;
	left: 80px;
}

#header .logo h1 {
	font-size: 16px;
	font-weight: 100;
	line-height: 16px;
}

#header .logo.on h1 {
	color: #444;
}

#header #gnb {
	z-index: 99;
	position: fixed;
	top: 40px;
	right: 80px;
}

#header #gnb > ul {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 8px;
}

#header #gnb > ul > li > a {
	display: block;
	padding: 0 32px;
	font-size: 14px;
	line-height: 40px;
	font-weight: 100;
	text-transform: uppercase;
	font-family: "Unbounded";

	color: var(--white-color);
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(4px);
	border-radius: 4px;
	transition: var(--transition-1s);
	white-space: nowrap;
}

.m_menu_btn {
	display: none;
}

@media (min-width: 769px) {
	#header #gnb > ul > li:hover > a {
		background: rgba(255, 255, 255, 0.3);
		border-radius: 8px;
		transition: var(--transition-1s);
	}
}

@media (max-width: 1660px) {
	#header .logo h1 {
		left: 40px;
	}
	#header #gnb {
		right: 40px;
	}
}

@media (max-width: 1024px) {
	.m_menu_btn {
		display: block;
		position: fixed;
		top: 40px;
		right: 40px;
	}

	.m_menu_btn > button {
		font-size: 16px;
		font-weight: 100;
		line-height: 16px;
	}

	#header #gnb {
		top: unset;
		bottom: -100%;
		left: 0;
		transform: translate(0, 0);
		width: 100%;
		height: min-content;
		transition: var(--transition-1s);
	}

	#header #gnb.on {
		bottom: 0;
		transition: var(--transition-1s);
	}

	#header #gnb > ul {
		padding: 24px 0;
		width: 100%;
		height: 100%;
		border-radius: 24px 24px 0 0;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(4px);
		gap: 0;
		flex-direction: column;
	}

	#header #gnb > ul > li {
		width: 100%;
	}

	#header #gnb > ul > li > a {
		position: relative;
		width: 100%;
		padding: 0 16px;
		background: transparent;
		backdrop-filter: unset;
		border-radius: 0;
		line-height: 48px;
		text-align: left;
	}

	#header #gnb > ul > li > a::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 16px;
		width: calc(100% - 32px);
		height: 1px;
		background: rgba(255, 255, 255, 0.05);
	}

	#header #gnb > ul > li > a::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 16px;
		width: 8px;
		height: 12px;
		transform: translate(0, -50%);
		background: url(../images/arrow_icon.svg) no-repeat center center;
	}
}

@media (max-width: 768px) {
	#header .logo h1 {
		top: 20px;
		left: 20px;
	}
	.m_menu_btn {
		top: 20px;
		right: 20px;
	}
}
@media (max-width: 480px) {
}
